@page "/"
@using BlazorBlog.ApplicationCore.Features.Posts.Queries.GetPosts

@attribute [StreamRendering]
@inject ISender Sender

<PageTitle>Home</PageTitle>

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @if(_viewModel is null)
            {
                <div class="d-flex justify-content-center my-5">
                    <div class="spinner-border text-default" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            }
            else if(_viewModel.Posts.Count == 0)
            {
                <div class="alert alert-warning" role="alert">
                    No posts found.
                </div>
            }
            else if(_viewModel.Posts.Count > 0)
            {
                @foreach (var post in _viewModel.Posts)
                {
                    <div class="post-preview">
                        <a href="/blog/@post.Slug">
                            <h2 class="post-title">@post.Title</h2>
                            @if(!string.IsNullOrEmpty(post.Subtitle))
                            {
                                <h3 class="post-subtitle">@post.Subtitle</h3>
                            }
                        </a>

                        <p class="post-meta">
                            Posted by
                            <a href="#">@post.Author</a>
                            on @post.Created.ToString("MMMM dd, yyyy")
                        </p>
                    </div>        
                }
                
            }
        </div>
    </div>
</div>

@code {

    [SupplyParameterFromQuery(Name = "page")]
    public int? CurrentPage { get; set; }
    public int PageSize { get; set; } = 5;

    GetPostsResponse? _viewModel;

    protected override async Task OnInitializedAsync()
    {
        _viewModel = await Sender.Send(new GetPostsQuery
        {
            PageNumber = CurrentPage.GetValueOrDefault(1),
            PageSize = PageSize
        });
    }
}                    